<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oj.mapper.ExerciseMapper">

    <resultMap id="BaseResultMap" type="com.oj.model.entity.Exercise">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,content
    </sql>
    <select id="getSubmittedExerciseList" resultType="com.oj.model.entity.Exercise">
        select e.*
        from exercise_finish ef
                 left join oj.exercise e on e.id = ef.exercise_id
        where user_id = #{id};
    </select>
    <select id="getNoSubmittedExerciseList" resultType="com.oj.model.entity.Exercise">
        select *
        from exercise
        where id not in (select distinct exercise_id from exercise_finish where user_id = #{id})
        and state = 1
    </select>
</mapper>
